.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 8rem;
  background-color: #ecf3f9ce;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #2c5b8a;
  display: block;
  padding: 5px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #67a4e0;
}
